<div class="card border rounded-lg border-dark">
  <div class="card-header">
    <span> <a style="color: #f6c065;" href="/blog/{{blogs.id}}">{{blogs.title}}</a></span>
    <div class="inline text-right">
    <span class="text-right" style="color: #e48900;">Created by {{blogs.user.user_name}} on {{format_date date_time}}</span>
    <span class="btn text-white"><i class="far fa-trash-alt"  data-id={{blogs.id}}></i></span>
    <span class="btn text-white"><i class="fas fa-pencil-alt"  data-id-write={{blogs.id}}></i></span>
    </div> 
  </div>

  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{blogs.description}} </p>  
    </blockquote>
  </div>
</div>