<div class="container text-center">
<div class="mb-3">Welcome <span id="user-name" data-user={{user_name}}>{{user_name}}!</span></div>
<form>
    <div class="form-group">
<div class="card">
  <div class="card-header text-left">
    <span> <label for="exampleInputEmail1">Blog Title</label>
    <input type="text" class="form-control" id="blog-title" placeholder="Enter your blog title" data-update={{blogdata.id}} value="{{blogdata.title}}"></span>
    <div class="text-right">
    <span class="text-right">Created on</span> <span class="current-date" data-date={{format_date date_time}}>{{format_date date_time}}</span>
    </div> 
  </div>
</div>
    </div>
<div class="form-group">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><label for="blog-text">Blog Text</label>
    <textarea class="form-control" id="blog-text" placeholder="Enter your blog content here">{{blogdata.description}}</textarea></p>  
    </blockquote>
  </div>
</div>
<div class="mt-3 text-center create-blog"><h2 class="text-center"><button class="btn btn-success">update</button></h2></div>
</div>
</form>
</div>


