
<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}

<div class="card">
  <div class="card-header">
    <span> <a href="/blog/{{blog.id}}">{{blog.title}}</a></span>
    <div class="inline text-right">
    <span class="text-right">Created by {{blog.user.user_name}} on {{format_date blog.date_created}}</span>
    </div> 
  </div>

  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{blog.description}} </p>  
    </blockquote>
  </div>
</div>
{{/each}}